body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    font-weight: 500;
    background-color: hsl(180, 52%, 96%);
}

.header {
    background-image: url(../images/bg-header-desktop.svg);
    height: 156px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(180, 29%, 50%);
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

.row {
    background-color: #FFFFFF;
}

.shadow {
    box-shadow: 0 2px 6px hsl(180, 8%, 52%);
}

.col-md-7 { /* button box */
    text-align: right;
    margin: auto;
} 

.btn {
    font-size: 15px;
    font-weight: 700;
    color: hsl(180, 29%, 50%);
    background-color: hsl(180, 52%, 96%);
}

.btn:hover {
    color: hsl(180, 52%, 96%);
    background-color: hsl(180, 29%, 50%);
    border: 0px;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

h2 {
    font-size: 20px;
    font-weight: 700;
    color: hsl(180, 14%, 20%);
    padding-bottom: 10px;
}

h5 {
    color: hsl(180, 29%, 50%);
    font-size: 15px; 
    font-weight: 700;
    padding-bottom: 10px;
}

.situation {
    color: hsl(180, 8%, 52%);
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 10px;
}

.circle {
    display: inline-table;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: hsl(180, 8%, 52%);
    margin: 2% 3%;
    padding: 0;
}

.bg-green {
    background-color: hsl(180, 29%, 50%);
    color: hsl(180, 31%, 95%);
    text-transform: uppercase;
    padding-top: 6px;
}

.bg-black {
    background-color: hsl(180, 14%, 20%);
    color: hsl(180, 31%, 95%);
    text-transform: uppercase;
    padding-top: 6px;
}

.col-md-4 {
    padding-left: 7%;
    padding-top: 10px;
}

img {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 575px) {
    .header {
        background-image: url(../images/bg-header-mobile.svg);
        max-width: 575px;
        background-size: 100%;
    }

    .col-md-7 { /* button box */
        text-align: left;
        margin: auto;
    } 

    img {
        position: relative;
        bottom: 50%;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .col-md-1 {
        max-height: 80px;
    }

    .btn {
        margin-bottom: 5px;
    }
}